section#header
  // Logo
  a.brandFont.logo(href='/')
    img#logo(src="/styles/images/logo-min.png", alt="Glasgow Hyperloop Logo", title="#GlasgoingFast")
    | #[span.brandFontBold Glasgow] Hyperloop
  // Nav
  nav#nav
    ul
      li
        a(href='/') Home
      li
        a(href='/members.html') Members
      li
        a(href='/sponsors.html') Sponsors
      li
        a(href='/gallery.html') Gallery
      li
        a.scrolly(href='#footer') Contact