extends /_boilerplate.pug

block page_meta
  - var page_name = "Members"
  - var page_description = "Meet the team members of Glasgow Hyperloop."
  - var page_keywords = "glasgow, hyperloop, competition, spacex, pod, scotland, team, members"

block page_body
  // Banner
  section#banner(background-image="styles/images/members.png")
    .content
      header.major.special
        h3 Team members of
        h1
          | #[span.brandFontBold GLASGOW] HYPERLOOP
        p
          | The ones building the future.
      ul.actions.special
        li
          a.button.primary.wide.scrolly(href='#list') MEET THE TEAM
  // Section
  section#list.wrapper.style1
    .inner
      header.major.special
        h3 Join the team?
        ul.actions.special
          li
            a.button.primary.wide.scrolly(href="#footer") APPLY NOW
      .row.gtr-200
        .col-3.col-6-medium.col-12-xsmall
          h3 Executive
          ul.alt
            li
              | Cedra Al Nahhas
              br
              em President & Founder
            li
              | Alexandre Cohen
              br
              em Vice President
            li
              | Sarah Swinton
              br
              em Secretary
            li
              | Zoe Balek
              br
              em Commercial Director
        .col-3.col-6-medium.col-12-xsmall
          h3 Secretarial
          ul.alt
            li
              | Joyce Ling
              br
              em Social Convenor
            li
              | Martin Karel
              br
              em Social Media & PR
        .col-3.col-6-medium.col-12-xsmall
          h3 Commercial
          ul.alt
            li
              | Kristian Kmec
              br
              em Treasurer
            li
              | Hamad Mirza
              br
              em Head of Sponsorship
            li
              | Wan Chan
              br
              em Sponsorship Officer
            li
              | Yiannis Tzoumas
              br
              em Internal Communications Officer
            li
              | Zuzana Tothova
              br
              em Resource Manager
            li
              | Chris Anthony
              br
              em Team Member
            li
              | Isra Mahmood
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Human Factors
          ul.alt
            li
              | Sara Berent
              br
              em Team Leader
            li
              | Cameron Patrick
              br
              em Team Member
            li
              | Rahaf Ammouri
              br
              em Team Member
            li
              | Rahama Nur Khalil
              br
              em Team Member
            li
              | Ruben Tesoro Moreno
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Control
          ul.alt
            li
              | Mika Okuhara
              br
              em Team Co-leader
            li
              | Philip Voudouris
              br
              em Team Co-leader
            li
              | Charles Stanford
              br
              em Team Member
            li
              | George Gibson
              br
              em Team Member
            li
              | Jonas Dieker
              br
              em Team Member
            li
              | Ryan Probyn
              br
              em Team Member
            li
              | Yao-I Tseng
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Electronics
          ul.alt
            li
              | Tayyabah Sardar
              br
              em Team Leader
            li
              | Anwen Davies
              br
              em Team Member
            li
              | Cameron Bennett
              br
              em Team Member
            li
              | Jamie Lee
              br
              em Team Member
            li
              | Kirill Melnik
              br
              em Team Member
            li
              | Klitos Papaefstathiou
              br
              em Team Member
            li
              | Nicolae Marton
              br
              em Team Member
            li
              | Owen D’Agostino
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Embedded Systems
          ul.alt
            li
              | Angus Bruce
              br
              em Team Member
            li
              | Basel Shehabi
              br
              em Team Member
            li
              | Jan-Hendrik Ewers
              br
              em Team Member
            li
              | Josep Perna
              br
              em Team Member
            li
              | Patrik Pauliny
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 User Experience
          ul.alt
            li
              | Louis Slorach
              br
              em Team Leader
            li
              | Alistair Byars
              br
              em Team Member
            li
              | Juan Sanz de Bremond
              br
              em Team Member
            li
              | Molly Akers
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Magnetics
          ul.alt
            li
              | Eoin Clarke   Acting
              br
              em Team Co-leader
            li
              | Nuha Irshad
              br
              em Team Co-leader
            li
              | Ross Johnston
              br
              em Team Co-leader
            li
              | Stuart Logan
              br
              em Team Co-leader
            li
              | Ahsan Ahmad
              br
              em Team Member
            li
              | Alexandros Cannas
              br
              em Team Member
            li
              | Arran Kirkbright
              br
              em Team Member
            li
              | Benny Ahmed
              br
              em Team Member
            li
              | Jean-Baptiste Michel
              br
              em Team Member
            li
              | Matias Turkulainen
              br
              em Team Member
            li
              | Matthew Kernan
              br
              em Team Member
            li
              | Taniel Goetcherian
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Propulsion
          ul.alt
            li
              | Caroline Henderson
              br
              em Team Co-leader
            li
              | Rorie Booth
              br
              em Team Co-leader
            li
              | Calum Mcinnes
              br
              em Team Member
            li
              | Chase Steiner
              br
              em Team Member
            li
              | Christopher Martens
              br
              em Team Member
            li
              | Emmanuele Fiorella
              br
              em Team Member
            li
              | Euan Clark
              br
              em Team Member
            li
              | Euan Smith
              br
              em Team Member
            li
              | George Krinis
              br
              em Team Member
            li
              | Giampaolo Bramante
              br
              em Team Member
            li
              | James Cochrane
              br
              em Team Member
            li
              | John Anderson
              br
              em Team Member
            li
              | Marwan Musleh
              br
              em Team Member
            li
              | Taha Almanasrah
              br
              em Team Member
        .col-3.col-6-medium.col-12-xsmall
          h3 Structures
          ul.alt
            li
              | Jonathan Liu
              br
              em Team Co-leader
            li
              | Rinaldo Steininger
              br
              em Team Co-leader
            li
              | Zainab Qasim
              br
              em Team Co-leader
            li
              | Ali Awais
              br
              em Team Member
            li
              | Ali Hassan
              br
              em Team Member
            li
              | Andrew Ferguson
              br
              em Team Member
            li
              | Christopher Scholes
              br
              em Team Member
            li
              | Danny McGuinness
              br
              em Team Member
            li
              | David Divers
              br
              em Team Member
            li
              | David Hughes
              br
              em Team Member
            li
              | Gavin Blue
              br
              em Team Member
            li
              | Han Shing Ng
              br
              em Team Member
            li
              | Harry Stansfeld
              br
              em Team Member
            li
              | Jack Dunlop
              br
              em Team Member
            li
              | Jack Tufft
              br
              em Team Member
            li
              | Joshua Gillespie
              br
              em Team Member
            li
              | Mohsin Farooq
              br
              em Team Member
            li
              | Orla Mallon
              br
              em Team Member
            li
              | Vaidehi Shah
              br
              em Team Member
